<a class="" href="/#/foods/<%= fields.item_id %>">
	<span class="badge">CHO: <%= fields.nf_total_carbohydrate %>g</span>
	 
	
	<span class="media-object pull-left icon icon-plus"></span>
	<div class="media-body">
		<%= fields.item_name %>
	</div>
</a>
