<div class="meal__item push-right" data-meal-id="<%= id %>">
	<span class="delete media-object pull-left icon icon-trash"></span>
	
	<a href="#meal/<%= id %>" class="media-body">
		<%= name %>
	</a>
</div>



      