<form id="search-form">
    <input type="search" placeholder="Search" class="search-field">
    <button type="submit" class="search-submit" id="search-submit">Search</button>
    <button class="search-reset" id="search-reset">Reset</button>
</form>