<div class="content-padded">
	<p>Use the keyword search above to find a Food. You can search for common foods (eg: "Apple") or food brands (eg: "Big Mac").</p>

	<p>Diabetix is powered by the <a href="http://www.nutritionix.com/api">Nutritionix</a> API, the largest nutrition resource on the web, so you can be sure it provides the most accurate information possible.</p>


	<p><a href="http://www.nutritionix.com/api"><img src="https://d3jpl91pxevbkh.cloudfront.net/nutritionix/image/upload/v1363458498/attribution_jqfdgy.png" border="0"></a></p>
</div>
