<ul class="table-view">
{{#each itemController="meal"}}
	<li class="table-view-cell">
		{{#link-to "meal" this class="navigate-right"}}
			{{#if portions}}
				<span class="badge">{{portionsCount}}</span>
			{{/if}}
			{{title}}
			<p>{{description}}</p>
		{{/link-to}}
	</li>
{{/each}}
</ul>



