{{input value=title placeholder="Name of this Meal"}}
{{textarea value=description rows="5" placeholder="Brief description for this Meal"}}
<button type="submit" class="btn btn-positive btn-block">Save</button>