{{#view Diabetix.HeaderSecondaryView}}
<form {{action queryFoods on="submit"}}>
{{input type="search" autocomplete="off" id="food-search" placeholder="Search for a Food..." value=searchQuery}}
</form>
{{/view}}

