<header id="app-header" class="bar bar-nav">
    <h1 class="title">Diabetix</h1>
</header>

<!-- Block button in standard bar fixed below top bar 
<div id="app-secondary-header" class="bar bar-standard bar-header-secondary">

</div>-->

<div id="app-main" class="content">
    {{outlet}}
</div>



