{{#view header-secondary}}
<form {{action queryFoods on="submit"}} class="food-search-form">
{{autofocus-input type="search" autocomplete="off" id="food-search" class="food-search-input" placeholder="Search for a Food..." value=searchQuery}}
</form>
{{/view}}
